PRIVATE_KEY=MC4CAQAwBQYDK2VwBCIEIHXXvlzR9X6K8NIA+wglSLmGCyllBBL6XYwWQJsx6ra0
PUBLIC_KEY=MCowBQYDK2VwAyEAAc6lT8D+nLWR+YiwRL1GGAuvnhKEAuxBFnH14v8RwS8=
BUNDLE_KEY=/iddmgojn22rXrP67Z4dK7nokEyC0mn6BOvBdxQ8mWA=
PORT=4000